!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello WS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/websockets/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/websockets/webSocket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

</head>
<body>
    <form>
        <input type="text" id="message" placeholder="enter your message...">
        <button type="button" id="send">Send</button>
    </form>


    <form>
        <input type="text" id="private-message" placeholder="enter your message...">
        <button type="button" onclick="sendPrivateMessage()">Send</button>
    </form>


    <div id="messages">

    </div>

    <form th:action="@{/send-chat}" th:method="post">
        <input type="text" name="text">
        <input type="submit" value="send">
    </form>
</body>
</html>